@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 1.125rem;
    color: hsl(215, 51%, 70%);
    height: 100vh;
    margin: 0;
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: hsl(216, 50%, 16%);
    box-shadow: #0000005c 0px 0px 15px 15px;
    border-radius: 16px;
    padding: 1.6rem 1.6rem;
    width: 350px;
    display: flex;
    flex-flow: column;
    gap: 0px;
}

.profile_img {
    border-radius: 8px;
}

h4 {
    font-size: 1.35rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.ethericon {
    width: 11px;
    height: 18px;
    border-radius: 8px;
}

.clockicon {
    width: 17px;
    height: 17px;
    border-radius: 8px;
}

.ether {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrange {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
}

.clock {
    font-size: 1rem;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-top: 1px solid hsl(215, 51%, 70%);
    padding-top: 0.8rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
}
